


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    transition: opacity 0.5s ease-in-out;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: sticky;
    top: 0px;
}