//consistent background acrcoss the entire body
//i want boxes to stay white/my neutral color
//i want cards to be a lighter version of my background color
// in page buttons should be one color, in nav buttons a diffferent color

@charset "utf-8";


// Import a Google Font
//primary and secondary - find match, one title one text? one stylistic one normal?
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

//////// font-family: 'Rajdhani', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

////////// font-family: 'Lobster Two', cursive;


@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;1,200;1,300&display=swap');


////////// font-family: 'Barlow Condensed', sans-serif;
/// 
/// 

@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');


// Set your brand colors
$specialpurple: #310131;
$juicylilac: #847996;
$cottonblue: #88b7b5;
$lightsage: #a7cab1;
$creamywhite: #f4ecd6;

$oxfordblue: #0a1128;
$pennblue: #001f54;
$indigodye: #034078;
$cerulean: #1282A2;
$offwhite: #fefcfb;



// Update Bulma's global variables
//current using primary for nav buttons, primary light and info light for section backgrounds, grey for card backgrounds, dark for navbar, link for submit and checkout on github/linkedin

$dark: $specialpurple;
$white: $creamywhite;
$primary: $juicylilac;
$info: $cottonblue;
$link: $lightsage;


$family-secondary: 'Walter Turncoat', cursive;

$family-primary: 'Rajdhani', sans-serif;

$family-fancy: 'Barlow Condensed', sans-serif;


// Update some of Bulma's component variables

$body-background-color: $lightsage;
// $body-background-color: $oxfordblue;
// $navbar-background-color: $pennblue;

.is-family-fancy {
    font-family: $family-fancy;
}



@import "../bulma/bulma.sass";

